<div class="col-md-8 offset-md-3">
    <h3>Create Student</h3>
    <form (ngSubmit)="onSubmit()">
<div class="form-group">
    <label>Student Name</label>
    <input type="text" class="form-control" placeholder="Enter Student Name" id="studentName" [(ngModel)]="student.studentName" name="studentName">
</div>
<div class="form-group">
    <label>Student Class</label>
    <input type="text" class="form-control" placeholder="Enter Student Class" id="studentClass" [(ngModel)]="student.studentClass" name="studentClass">
</div>
<div class="form-group">
    <label>Student Section</label>
    <input type="text" class="form-control" placeholder="Enter Student Section" id="studentSection" [(ngModel)]="student.studentSection" name="studentSection">
</div>
<div class="form-group">
    <label>Year Fee</label>
    <input type="text" class="form-control" placeholder="Enter Year Fee" id="yearFee" [(ngModel)]="student.yearFee" name="yearFee">
</div>
<div class="form-group">
    <label>Fee Paid</label>
    <input type="text" class="form-control" placeholder="Enter Fee Paid" id="feePaid" [(ngModel)]="student.feePaid" name="feePaid">
</div>
<div class="form-group">
    <label>Balance Fee</label>
    <input type="text" class="form-control" placeholder="Enter  Balance Fee" id="balanceFee" [(ngModel)]="student.balanceFee" name="balanceFee">
</div>
<div style="margin-top: 10px;">
<button type="submit" class="btn btn-primary">Save Student</button>
</div>
    </form>
</div>
