<table class="table table-striped">
    <thead>
        <tr>
        <th>Student Name</th>
        <th>Student Class</th>
        <th>Student Section</th>
        <th>Year Fee</th>
        <th>Fee paid</th>
        <th> Balance Fee</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.studentName}}</td>
            <td>{{student.studentClass}}</td>
            <td>{{student.studentSection}}</td>
            <td>{{student.yearFee}}</td>
            <td>{{student.feePaid}}</td>
            <td>{{student.balanceFee}}</td>
            <td>
                <button (click)="updateStudent(student.studentId)" class="btn btn-success">Update</button>
                <button (click)="deleteStudent(student.studentId)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>

            </td>

        </tr>
    </tbody>
</table>
